@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    color: black;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: url(/img/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#usuarios{
    display: flex;
    justify-content: space-between;
}
#iniciarBtn{
    color:#ffdada;
    padding:15px;
    display:block;
    width:200px;
    text-align:center;
    margin:10px;
    background-color:#ae8441;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
#reiniciarBtn{
        color:#ffdada;
        padding:15px;
        display:block;
        width:200px;
        text-align:center;
        margin:20px;
        background-color:#ae8441;
        border: none;
        border-radius: 5px 5px 5px 5px;
    }
#iniciarBtn{
color:#ffdada;
padding:15px;
display:block;
width:200px;
text-align:center;
margin:10px;
background-color:#ae8441;
border: none;
border-radius: 5px 5px 5px 5px;
}
#jugadores input{
     font-family: 'Overpass', sans-serif;
    font-size: 100%;
    width: 50%;
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
#botonIniciar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tablero {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    width: 200px; 
    height: 200px; 
}
.tablero .casilla{
    width: 90px;
    height: 90px;
    display: grid;
    place-items: center;
    background-color: rgb(255, 249, 249);
    background-size: cover;
    border-radius: .75rem;
}

.tablero .casilla:hover {
    background-color: rgb(245, 233, 218);
}
.tablero .casilla:active{
    border-color: none  ;
}
.tablero{
    width: 276px;
    height: 300px;
    text-align: center;
}
#mensaje{
    position: relative;
    top: 10px;
    height: 1rem;
}
#msjGanador{
    position: relative;
    top: 10px;
    height: 1rem;
}

